*{
    margin: 0;
    padding: 0;
    border:0;
    outline: 0;
	color: white;

}

.input-background{
/* 	color: white; */
	background-color: rgb(50, 130, 210);
	border: rgb(60, 140, 220) 0.5px solid; 
}

.weatherform{
/* 	border: red 0.5px solid;  */
/* 	color: white; */
	display: flex;
	
	padding:20px;
	
	flex-flow: row nowrap;
    justify-content: flex-start;

	align-items: flex-start;
}
.text-class{
	font-family: fantasy;
	font-size: 30px;	
}

html,header,footer,.links,.select-city { 
  background: url(../img/1862332.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
/*   -blink-background-size: cover; */
  background-size: cover;
}

body{
    display: grid;
/*     border: red 2px solid; */
    min-height: 100vh; /*100vh �r 100% av viewport dvs storleken p� browesern*/
    
    grid-template-columns: 15rem 25rem auto 25rem 15rem; /*2 kolummner. 1:a �r auto och 2a �r alltid 8rem*/
    grid-template-rows: auto auto auto;
}

header{
/* 	border: red 2px solid; */
/* 	color:white; */
    grid-row: 1/2;
    grid-column: 2/5;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    align-items: center;
}

.search-location-test{
/* 	filter: blur(5px); */
	background: url(../img/1862332.jpg);
	background-size: cover;
/* 	border: red 2px solid; */
    grid-row: 2/3;
    grid-column: 2/5;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    align-items: center;    
}

.search-location{
/* 	filter: blur(5px); */
/* 	color:white; */
	font-size:20px;
	background: url(../img/1862332.jpg);
	background-size: cover;
/* 	border: red 2px solid; */
    grid-row: 2/3;
    grid-column: 2/3;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    align-items: center;
}


.last-locations{
/* 	filter: blur(5px); */
/* 	color:white; */
	background: url(../img/1862332.jpg);
	background-size: cover;
/* 	border: red 2px solid; */
    grid-row: 2/3;
    grid-column: 4/5;

    display: flex;
    flex-flow: column no-wrap;
    justify-content: center;

    align-items: center;
}

footer{
/* 	border: red 2px solid; */
/* 	color:white; */
    grid-row: 3/4;
    grid-column: 2/5;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    align-items: center;
	
}