*{
    margin: 0;
    padding: 0;
    border:0;
    outline: 0;
}

.links{
    display: grid;
    border: red 2px solid;
    min-height: 100vh; /*100vh �r 100% av viewport dvs storleken p� browesern*/

/*     grid-template-columns: 10rem auto; 2 kolummner. 1:a �r auto och 2a �r alltid 8rem */
/*     grid-template-rows: 1rem 3rem 2rem 2rem 2rem auto 2rem; */
    
    grid-template-columns: auto; /*2 kolummner. 1:a �r auto och 2a �r alltid 8rem*/
    grid-template-rows: 5rem auto 5rem;

}

header{
	border: red 2px solid;
    background-color: red;
    grid-row: 1/2;
    grid-column: 1/2;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    align-items: center;
	
}

nav{
	border: red 2px solid;
    background-color: orange;
    grid-row: 2/3;
    grid-column: 1/2;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    align-items: center;
}

footer{
	border: red 2px solid;
    background-color: red;
    grid-row: 3/4;
    grid-column: 1/2;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    align-items: center;
	
}

